<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blockchain Transaction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Blockchain Transaction System</h1>
        <form id="transactionForm">

            <label for="employee_id">Employee ID:</label>
            <input type="text" id="employee_id" name="employee_id" placeholder="Employee ID" required><br><br>

            <label for="transaction_type">Transaction Type:</label>
            <select id="transaction_type" name="transaction_type">
                <option value="ENTRADA">ENTRADA</option>
                <option value="SAIDA">SAIDA</option>
            </select><br><br>

            <label for="replacing_id">Ajustar transação:</label>
            <input type="text" id="replacing_id" name="replacing_id" placeholder="transaction_id"><br><br>




            <p id="locationStatus"></p> <!-- Exibindo o status da localização -->
            <button type="submit">CONFIRMAR</button>
        
        </form>

        <div id="responseMessage"></div>
    </div>

    <script>

    async function getLocation() {
        return new Promise((resolve, reject) => {
            if ("geolocation" in navigator) {
                navigator.geolocation.getCurrentPosition(
                    (position) => {
                        let location = `${position.coords.latitude},${position.coords.longitude}`; // Formato "latitude,longitude"
                        resolve(location); // Retorna a string com as coordenadas
                    },
                    (error) => {
                        console.error("Erro ao obter localização:", error);
                        reject(error);
                    }
                );
            } else {
                reject(new Error("Geolocalização não suportada no seu navegador."));
            }
        });
    }

    document.getElementById("transactionForm").addEventListener("submit", async function(event) {
        event.preventDefault(); // Impede o envio padrão do formulário
        
        try {
            const location = await getLocation(); // Agora 'location' será uma string, como "40.7128,-74.0060"
            // Atualizando o status da localização
            document.getElementById("locationStatus").innerText = "Localização obtida: " + location;

            // Obtendo os outros campos do formulário
            const employee_id = document.getElementById("employee_id").value;
            const transactionType = document.getElementById("transaction_type").value;
            const replacing_id = document.getElementById("replacing_id")?.value || null;
            // Criando o FormData
            const formData = new FormData();
            formData.append("employee_id", employee_id);
            formData.append("transaction_type", transactionType);
            formData.append("location", location); // Envia a string "latitude,longitude"
            formData.append("replacing_id", replacing_id); // Envia a string "latitude,longitude"


            // Enviando a requisição
            const response = await fetch('/send_transaction', {
                method: 'POST',
                body: formData,
            });

            const result = await response.json();
            document.getElementById("responseMessage").innerText = result.message;
        } catch (error) {
            console.error("Erro ao obter localização:", error);
            document.getElementById("locationStatus").innerText = "Localização não determinada";
            document.getElementById("responseMessage").innerText = "Erro ao obter localização.";
        }
    });

    </script>
</body>
</html>
